:root {
  --mc-black: #0C0C0C;
  --mc-black-rgb: 12, 12, 12;
  --mc-orange-rgb: 255, 102, 71;
  --mc-mint-rgb: 132, 212, 188;
  --mc-white-rgb: 249, 249, 249;
  --mc-black-rgb: 12, 12, 12;
  --mc-yellow-rgb: 246, 186, 30;
  --mc-ygreen-rgb: 95, 190, 135;
  --mc-blue: #0E84D9;
  --gray: #1E1E1E;
  --mc-red: #E52424;
  --gray_light: #f9f9f999;
  --mc-success: #14C75C;
  --mc-whitenew: #f9f9f9;
  --mc-warning: #F6BA1E;
  --gray-50: #d9d9d9;
  --gray-100: #C4C4C4;
  --gray-200: #A8A8A8;
  --gray-300: #858585;
  --gray-400: #636363;
  --gray-500: #474747;
  --gray-600: #580623;
  --gray-700: #242424;
  --gray-800: #1A1A1A;
  --gray-900: #141414;
  --mc-pink: #FF1E6E;
  --mc-pink-blur: rgba(255, 30, 110, 0.10);
  --mc-pink-blur2: rgba(200, 10, 110, 1);
  --mc-pink-60: rgba(255, 30, 110, 0.60);
  --mc-blacks: #0C0C0C;
  --mc-arcade-rgb: 189, 255, 0;
  --ix-black-rgb: 12, 12, 12;

  --mc-accent-light: var(--mc-accent);

  --ix-black: rgb(var(--ix-black-rgb));
  --ix-black: rgba(var(--ix-black-rgb), 0.1);
  --ix-black: rgba(var(--ix-black-rgb), 0.2);
  --ix-black: rgba(var(--ix-black-rgb), 0.4);
  --ix-black: rgba(var(--ix-black-rgb), 0.6);
  --ix-black: rgba(var(--ix-black-rgb), 0.8);


  --mc-arcade: rgb(var(--mc-arcade-rgb));
  --mc-arcade_10: rgba(var(--mc-arcade-rgb), 0.1);
  --mc-arcade_20: rgba(var(--mc-arcade-rgb), 0.2);
  --mc-arcade_40: rgba(var(--mc-arcade-rgb), 0.4);
  --mc-arcade_60: rgba(var(--mc-arcade-rgb), 0.6);

  --mc-orange: rgb(var(--mc-orange-rgb));
  --mc-orange_10: rgba(var(--mc-orange-rgb), 0.1);
  --mc-orange_20: rgba(var(--mc-orange-rgb), 0.2);
  --mc-orange_40: rgba(var(--mc-orange-rgb), 0.4);
  --mc-orange_60: rgba(var(--mc-orange-rgb), 0.6);

  --mc-yellow: rgb(var(--mc-yellow-rgb));
  --mc-yellow_10: rgba(var(--mc-yellow-rgb), 0.1);
  --mc-yellow_20: rgba(var(--mc-yellow-rgb), 0.2);
  --mc-yellow_40: rgba(var(--mc-yellow-rgb), 0.4);
  --mc-yellow_60: rgba(var(--mc-yellow-rgb), 0.6);

  --mc-ygreen: rgb(var(--mc-ygreen-rgb));
  --mc-ygreen_10: rgba(var(--mc-ygreen-rgb), 0.1);
  --mc-ygreen_20: rgba(var(--mc-ygreen-rgb), 0.2);
  --mc-ygreen_40: rgba(var(--mc-ygreen-rgb), 0.4);
  --mc-ygreen_60: rgba(var(--mc-ygreen-rgb), 0.6);

  --mc-mint: rgb(var(--mc-mint-rgb));
  --mc-mint-10: rgba(var(--mc-mint-rgb), 0.1);
  --mc-mint-20: rgba(var(--mc-mint-rgb), 0.2);
  --mc-mint-40: rgba(var(--mc-mint-rgb), 0.4);
  --mc-mint-60: rgba(var(--mc-mint-rgb), 0.6);
  --mc-mint-80: rgba(var(--mc-mint-rgb), 0.8);

  --mc-ygreen: rgb(var(--mc-ygreen-rgb));
  --mc-ygreen_10: rgba(var(--mc-ygreen-rgb), 0.1);
  --mc-ygreen_20: rgba(var(--mc-ygreen-rgb), 0.2);
  --mc-ygreen_40: rgba(var(--mc-ygreen-rgb), 0.4);
  --mc-ygreen_60: rgba(var(--mc-ygreen-rgb), 0.6);

  --mc-white: rgb(var(--mc-white));
  --mc-white_10: rgba(var(--mc-white), 0.1);
  --mc-white_20: rgba(var(--mc-white), 0.2);
  --mc-white_40: rgba(var(--mc-white), 0.4);
  --mc-white_60: rgba(var(--mc-white), 0.6);
  --mc-white_80: rgba(var(--mc-white), 0.8);

  --mc-black: rgb(var(--mc-black));
  --mc-black_10: rgba(var(--mc-black), 0.1);
  --mc-black_20: rgba(var(--mc-black), 0.2);
  --mc-black_40: rgba(var(--mc-black), 0.4);
  --mc-black_60: rgba(var(--mc-black), 0.6);
  --mc-black_80: rgba(var(--mc-black), 0.8);

  --mc-accent-rgb: var(--mc-orange-rgb);
  --mc-secondary-rgb: var(--mc-mint-rgb);

  --mc-accent: rgb(var(--mc-accent-rgb));
  --mc-accent-10: rgba(var(--mc-accent-rgb), 0.1);
  --mc-accent-20: rgba(var(--mc-accent-rgb), 0.2);
  --mc-accent-40: rgba(var(--mc-accent-rgb), 0.4);
  --mc-accent-60: rgba(var(--mc-accent-rgb), 0.6);
  --mc-accent-80: rgba(var(--mc-accent-rgb), 0.8);

  --mc-secondary: rgb(var(--mc-secondary-rgb));
  --mc-secondary_10: rgba(var(--mc-secondary-rgb), 0.1);
  --mc-secondary_20: rgba(var(--mc-secondary-rgb), 0.2);
  --mc-secondary_40: rgba(var(--mc-secondary-rgb), 0.4);
  --mc-secondary_60: rgba(var(--mc-secondary-rgb), 0.6);

}
