[corners] {
  --corner-width: 1px;
  --corner-color: var(--mc-mint);
  --corner-size: 8px;
  --corner-space: #0000 90deg, var(--corner-color) 0;

  position: relative;
}


[corners]:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
  pointer-events: none;
  background:
    conic-gradient(from 90deg at top var(--corner-width) left var(--corner-width), var(--corner-space)) 0 0,
    conic-gradient(from 180deg at top var(--corner-width) right var(--corner-width), var(--corner-space)) 100% 0,
    conic-gradient(from 0deg at bottom var(--corner-width) left var(--corner-width), var(--corner-space)) 0 100%,
    conic-gradient(from -90deg at bottom var(--corner-width) right var(--corner-width), var(--corner-space)) 100% 100%;

  background-size: var(--corner-size) var(--corner-size);
  background-origin: border-box;
  background-repeat: no-repeat;
}

[corners~="lg"] {
  --corner-size: 14px;
}

[corners]:not([b~=]),
[corners]:not([b~="\31"]),
[corners]:not([border~=]),
[corners]:not([border~="\31"]) {
  border: var(--corner-width) solid transparent;
}

[corners~="mc-mint"] {
  --corner-color: var(--mc-mint);
}

[corners~="gray"] {
  --corner-color: var(--mc-gray_light)
}

[corners~="mc-orange"] {
  --corner-color: var(--mc-orange);
}

[corners~="mc-ygreen"] {
  --corner-color: var(--mc-ygreen);
}

[corners~="accent"] {
  --corner-color: var(--mc-accent);
}

[corners~="pink"] {
  --corner-color: var(--mc-pink);
}
