/* 
  Good tool for generating corner code 
  https://css-generators.com/custom-corners/
*/

@property --border {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --offset {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.is-paint-supported [cut] {
  --border: 1px;
  --corner-radius: 0 20 0 0;
  --stroke-weight: 1;
  clip-path: polygon(var(--cut-path));
  position: relative;
}

.is-paint-supported [cut]:before {
  content: "";
  position: absolute;
  inset: 0;
  mask: paint(cut-corners);
  pointer-events: none;
  transition: background 150ms;
}

.is-paint-supported [cut][card~="accent"],
.is-paint-supported [cut][btn~="primary-outline"],
.is-paint-supported [cut][btn~="secondary-outline"],
.is-paint-supported [cut][btn~="loading-outline"],
.is-paint-supported [cut][btn~="primary"],
.is-paint-supported [cut][btn~="tab"],
.is-paint-supported [cut][btn~="tab-active"],
.is-paint-supported [cut][btn~="accent"],
.is-paint-supported [cut][btn~="white"],
.is-paint-supported [cut][btn~="accent-outline"],
.is-paint-supported [cut][b] {
  border: 0 !important;
}

[cut][btn~="primary-outline"]:before,
[cut][btn~="secondary-outline"]:before {
  background: var(--mc-mint-40);
}

[cut][btn~="primary"]:before {
  background: var(--mc-mint);
}


[cut][btn~="loading-outline"]:before,
[cut][b~="\$mc-orange"]:before {
  background: var(--mc-orange);
}

[cut][b~="\$mc-accent-20"]:before {
  background: var(--mc-accent-20);
}

[cut][btn~="accent"]:before,
[cut][card~="accent"]:before,
[cut][b~="\$mc-accent-40"]:before {
  background: var(--mc-accent-40);
}

[cut][b~="\$mc-accent-60"]:before {
  background: var(--mc-accent-60);
}

[cut][b~="\$mc-accent-80"]:before {
  background: var(--mc-accent-80);
}

[cut][b~="\$corporation-inactive-color"]:before {
  @apply bg-$corporation-inactive-color;
}

[cut][btn~="accent"]:hover:before,
[cut][card~="accent"]:hover:before,
[cut][btn~="accent-outline"]:before,
[cut][b~="\$mc-accent"]:before {
  background: var(--mc-accent);
}

[cut][btn~="secondary-outline"]:hover:before {
  background: var(--mc-mint);
}

[cut][btn~="loading-outline"],
[cut][b~="\$mc-orange"] {
  /* background: var(--mc-orange); */
  border: var(--mc-orange);
}

[cut][btn~="loading-outline"]:hover:before,
[cut][b~="\$mc-orange"]:before {
  background: var(--mc-orange_60);
}

[cut][btn~="primary-outline"]:hover:before {
  background: var(--mc-mint);
}

[cut][btn~="white"]:before {
  background: rgba(255, 255, 255, 0.3);
}

[cut][btn~="white"]:hover:before {
  background: rgba(255, 255, 255, 0.5);
}