/* 
  Good tool for generating corner code 
  https://css-generators.com/custom-corners/
*/

@property --border {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --offset {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}