@font-face {
  font-family: 'Druk Wide';
  src: url('../fonts/Druk-WideMedium.woff2') format('woff2'),
    url('../fonts/Druk-WideMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Apercu Mono';
  src: url('../fonts/ApercuMonoPro-Bold.woff2') format('woff2'),
    url('../fonts/ApercuMonoPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../fonts/ApercuMonoPro-Medium.woff2') format('woff2'),
    url('../fonts/ApercuMonoPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../fonts/ApercuMonoPro-Light.woff2') format('woff2'),
    url('../fonts/ApercuMonoPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Mono';
  src: url('../fonts/ApercuMonoPro-Regular.woff2') format('woff2'),
    url('../fonts/ApercuMonoPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;
}


@media (max-width: 767.9px) {
  :root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.75rem;
    --font-size-base: 0.875rem;
    --font-size-lg: 1rem;
    --font-size-xl: 1.125rem;
    --font-size-2xl: 1.25rem;
    --font-size-3xl: 1.5rem;
    --font-size-4xl: 1.875rem;
    --font-size-5xl: 2.25rem;
    --font-size-6xl: 3rem;
    --font-size-7xl: 3.75rem;
    --font-size-8xl: 4.5rem;
    --font-size-9xl: 6rem;
  }
}
