
.no-scrollbar {
  scrollbar-width: none
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar ::-webkit-scrollbar {
  display: none
}

.no-scrollbar::-webkit-scrollbar-thumb,
.no-scrollbar ::-webkit-scrollbar-thumb {
  display: none
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}