:root {
  --transition-slide-offset: 1.5rem;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 100ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: all 250ms cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-scale-enter-from,
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(1.05);
}

.fade-scale-slow-enter-active,
.fade-scale-slow-leave-active {
  transition: all 450ms cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-scale-slow-enter-from,
.fade-scale-slow-leave-to {
  opacity: 0;
  transform: scale(1);
}


.icon-enter-active,
.icon-leave-active {
  transition: all 200ms ease;
}

.icon-enter-from,
.icon-leave-to {
  opacity: 0;
  transform: translateY(-0.5rem);
}

.icon-leave-to {
  transform: translateY(0.5rem);
}

.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity 250ms ease;
}


.fade-slow-enter-from,
.fade-slow-leave-to {
  opacity: 0;
}


.slide-shift-down-enter-active,
.slide-shift-down-leave-active,
.slide-shift-up-enter-active,
.slide-shift-up-leave-active,
.slide-pop-enter-active,
.slide-pop-leave-active,
.slide-push-enter-active,
.slide-push-leave-active,
.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 100ms ease-out;
}

.slide-shift-down-enter-from,
.slide-shift-up-leave-to,
.slide-top-enter-from,
.slide-top-leave-to {
  opacity: 0;
  transform: translateY(calc(var(--transition-slide-offset) * -1));
}

.slide-shift-down-leave-to,
.slide-shift-up-enter-from,
.slide-bottom-enter-from,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(var(--transition-slide-offset));
}

.slide-right-enter-from,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(var(--transition-slide-offset));
}

.slide-left-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(calc(-1 * var(--transition-slide-offset)));
}

.slide-pop-enter-from,
.slide-pop-leave-to,
.slide-push-enter-from,
.slide-push-leave-to {
  opacity: 0;
}

.slide-pop-leave-to,
.slide-push-enter-from {
  transform: translateX(calc(1 * var(--transition-slide-offset)));
}

.slide-pop-enter-from,
.slide-push-leave-to {
  transform: translateX(calc(-1 * var(--transition-slide-offset)));
}

.slide-push-leave-active,
.slide-pop-leave-active,
.slide-top-leave-active,
.slide-bottom-leave-active,
.slide-right-leave-active,
.slide-left-leave-active {
  transition: all 250ms ease;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 350ms ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}


.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.7s ease-out;
}

/* 2. declare enter from and leave to state */
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(100px);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.list-leave-active {
  transition: all 0.7s ease-out;
}

.list-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}


/* 2. declare enter from and leave to state */
.snackbar-enter-from {
  opacity: 0;
  transform: translateY(1rem);
}

.snackbar-leave-to {
  opacity: 0;
  transform: translateY(-1rem);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.snackbar-leave-active {
  transition: all 150ms ease;
}


@keyframes slide-left-right {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(100%);
  }
}