@font-face {
  font-family: 'Foundry Gridnik';
  src: url('../fonts/FoundryGridnik-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foundry Gridnik';
  src: url('../fonts/FoundryGridnik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foundry Gridnik';
  src: url('../fonts/FoundryGridnik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foundry Gridnik';
  src: url('../fonts/FoundryGridnik-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foundry Gridnik';
  src: url('../fonts/FoundryGridnik-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BlenderPro-Bold';
  src: url('../fonts/BlenderPro-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
